{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}
<br><br>
<div class="container">
    <div class="row">
        <form action={% url 'book' p.id %}>
            {% csrf_token %}
            <div class="col-md-9">
                <div class="single-travel-boxes ">
                    <div style="width:100%;background-color:#00d8ff;padding:10px ">
                        <h1 style="color:#fff ">Book</h1>
                    </div>

                    <div class="tab-content ">

                        <div class="tab-para ">
                            <div class="row ">
                                <div class="col-lg-3 col-md-3 col-sm-4">
                                    <div class="single-tab-select-box">
                                        <h2>check in</h2>
                                        <div class="travel-check-icon">
                                            <form action="#">
                                                <input type="date" name="check_in" class="form-control" />
                                            </form>
                                        </div>
                                        <!-- /.travel-check-icon -->
                                    </div>
                                    <!--/.single-tab-select-box-->
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 ">
                                    <div class="single-tab-select-box ">
                                        <h2>Rooms</h2>

                                        <div class="travel-select-icon ">
                                            <select class="form-control " name="rooms">
                                  <option value="default ">
                                    Rooms
                                  </option>
  
                                  <option value="1 ">1</option>
  
                                  <option value="2 ">2</option>
  
                                  <option value="3 ">3</option>
                                  <option value="4 ">4</option>
                                  <option value="5">5</option>
                                </select>
                                        </div>

                                        <!-- /.travel-select-icon -->
                                    </div>
                                    <!--/.single-tab-select-box-->
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 ">
                                    <div class="single-tab-select-box ">
                                        <h2>Passengers</h2>

                                        <div>
                                            <input class="form-control " name="pass">

                                            </input>
                                        </div>

                                        <!-- /.travel-select-icon -->
                                    </div>
                                    <!--/.single-tab-select-box-->
                                </div>



                                <div class="col-lg-3 col-md-3 col-sm-3 ">
                                    <div class="single-tab-select-box ">
                                        <h2>Food</h2>

                                        <div class="travel-select-icon ">
                                            <select class="form-control " name="food">
                                  <option value="Any">
                                    Any
                                  </option>
  
                                  <option value="Yes">Yes</option>
  
                                  <option value="No ">No</option>
  
                           
                                </select>
                                        </div>

                                        <!-- /.travel-select-icon -->
                                    </div>
                                    <!--/.single-tab-select-box-->
                                </div>


                                <div class="col-lg-3 col-md-3 col-sm-3 ">
                                    <div class="single-tab-select-box ">
                                        <h2>Payment Mode</h2>

                                        <div class="travel-select-icon ">
                                            <select class="form-control " name="pay">
                                  <option value="Any">
                                    Any
                                  </option>
  
                                  <option value="Card">Card</option>
  
                                  <option value="Net banking">Net Banking</option>
  
                           
                                </select>
                                        </div>

                                        <!-- /.travel-select-icon -->
                                    </div>
                                    <!--/.single-tab-select-box-->
                                </div>



                                <div class="row ">
                                    <div class="about-btn travel-mrt-0 pull-right ">
                                        <button class="about-view travel-btn " type="submit">Book</button>

                                    </div>
                                </div>
                            </div>
                            <!--/.tab-para-->
                        </div>
                        <!--/.tabpannel-->
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-3">
            <div class="single-travel-boxes ">
                <img src="{{p.ppic.url}}" alt="package-place" />
                <div class="single-package-item-txt" style="margin-top:10px;">
                    <h3>{{p.distination.dname}}<span class="pull-right"><i class="fa fa-rupee"></i>{{p.cost}}</span></h3>
                    <div class="packages-para">
                        <p>
                            <span>
                <i class="fa fa-angle-right"></i> {{p.days}} Days
              </span><br><br>
                            <i class="fa fa-angle-right"></i> Tier {{p.hotel.tier}} accomodation
                        </p>
                        <p>
                            <span>
                <i class="fa fa-angle-right"></i>{{p.mot.t_type}} Transportation
              </span>
                            <div class="packages-review">

                                <p>{{p.review}} &nbsp;
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> Reviews
                            </div>
                            </p>

                            </span>





                        </p>
                    </div>
                    <!--/.packages-para--><br><br>
                </div>
            </div>
        </div>

        {% endblock %}