{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}
<br><br>
<section class="travel-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-travel-boxes">
                    <div style="width:100%;background-color:#00d8ff;padding:10px">
                        <h1 style="color:#fff"><i class="fa fa-search"></i> Booked Packages</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header ">
            <h2>Results:</h2>
        </div>
        <div class="packages-content">
            <div class="row">
                {% for i in p %}
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{{i.ppic.url}}" alt="package-place" />
                        <div class="single-package-item-txt">
                            <h3>{{i.name}} <span class="pull-right"> <i class="fa fa-rupee"></i>{{i.cost}}</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.days}} days 
                      </span>
                                    <i class="fa fa-angle-right"></i> Tier {{i.hotel.tier}} accomodation
                                </p>
                                <p>
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.mot.t_type}} Rransportation
                      </span> {% if 'Railway' in i.mot.t_type %}
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.mot.c_class}} Compartment
                      </span> {% elif 'Roadway' in i.mot.t_type %}
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.mot.cartype}} Car
                      </span> {% elif 'Airway' in i.mot.t_type %}
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.mot.A_class}} Class
                      </span> {% endif %}
                                </p>
                            </div>
                            <div class="packages-review">
                                <p><span>{{i.review}} &nbsp;</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span> reviews</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn"><a href="{% url 'package' i.id%}" style="color: white">Book now</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</section>
{% endblock %}