{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}
<br><br>
<section class="travel-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-travel-boxes">
                    <div style="width:100%;background-color:#00d8ff;padding:10px">
                        <h2 style="color:#fff">Booked Tours:</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header ">

        </div>
        <div class="packages-content">
            <div class="row">
                {% for i in b %}
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="{{i.package.ppic.url}}" alt="package-place" />
                        <div class="single-package-item-txt">
                            <h3>{{i.package.name}} <span class="pull-right"> <i class="fa fa-rupee"></i>{{i.total}}</span></h3>
                            <div class="packages-para">

                                <b>
                                    <p ><h4 style="color:#fff">
                                        <span>
                                            <i class="fa fa-angle-right"></i> User: 
                                            </span>
                                        <span> {{i.customer.first_name}}&nbsp;{{i.customer.last_name}}</span></h4>
                                    </p></b>
                                <b>
                                        <p ><h4 style="color:#fff">
                                            <span>
                                                <i class="fa fa-angle-right"></i> Check In: 
                                                </span>
                                            <span> {{i.trip_date}}</span></h4>
                                        </p></b>
                                        <b>
                                            <p ><h4 style="color:#fff">
                                                <span>
                                                    <i class="fa fa-angle-right"></i> Booking Date: 
                                                    </span>
                                                <span> {{i.booking_date}}</span></h4>
                                            </p></b>
                                <p>
                                    <span>
                       
                        <i class="fa fa-angle-right"></i> {{i.package.days}} Days 
                      </span>


                                    <i class="fa fa-angle-right"></i> Tier {{i.package.hotel.tier}} accomodation</p>

                                <p>
                                    <span>
                           
                            <i class="fa fa-angle-right"></i> {{i.n_people}} People 
                          </span>


                                    <i class="fa fa-angle-right"></i> {{i.rooms}} Rooms</p>
                                <p>
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.package.mot.t_type}} Transportation
                      </span> {% if 'Railway' in i.package.mot.t_type %}
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.package.mot.c_class}} Compartment
                      </span> {% elif 'Roadway' in i.package.mot.t_type %}
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.package.mot.cartype}} Car
                      </span> {% elif 'Airway' in i.package.mot.t_type %}
                                    <span>
                        <i class="fa fa-angle-right"></i> {{i.package.mot.A_class}} Class
                      </span> {% endif %}
                                </p>
                            </div>
                            <div class="packages-review">
                                <p><span>{{i.package.review}} &nbsp;</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span> reviews</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button class="about-view packages-btn"><a href="{% url 'package' i.id%}" style="color: white">View Package</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</section>
{% endblock %}