{% extends 'base.html' %} {% load static %} {% block content %}



<header class="top-area">
    <div class="header-area">
        <div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo">
                        <a href="index.html" style="margin-left:20px"> Trave<span>llify</span> </a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="main-menu">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="smooth-menu">
                                    <a href="#home" style="color: #00d8ff">Home</a>
                                </li>
                                <li class="smooth-menu">
                                    <a href="#gallery" style="color: #00d8ff">Browse</a>
                                </li>
                                <li>
                                    <form method="POST" action="{% url 'book' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="book-btn nav-link">Book Now</button>
                                    </form>
                                </li>

                                <li>
                                    <button class="book-btn" data-toggle="modal" data-target="#mm">
                    Edit Profile
                  </button>
                                </li>
                                <li>
                                    <form method="POST" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="book-btn nav-link">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-border"></div>
        </div>
    </div>
</header>
<div class="modal" id="mm">
    <div class="modal-dialog">
        <div class="form-box" style="height:550px;">

            <button type="submit" class="submit-btn">Edit Details</button>



            <form action={% url 'edit' %} class="input-group" id="login" method="POST">
                {% csrf_token %}
                <input type="text" class="input-field" name="fname" placeholder="First Name" value="{{u.first_name}}" required />
                <input type="text" class="input-field" name="lname" placeholder="Last Name" value="{{u.last_name}}" required />
                <input type="text" class="input-field" name="email" placeholder="Email" value="{{u.email}}" required />
                <input type="text" class="input-field" name="phone" placeholder="Phone" value="{{u.phone}}" required />
                <input type="text" class="input-field" name="city" placeholder="city" value="{{u.city}}" required />

                <br /><br />
                <button type="submit" class="submit-btn">Submit</button>
            </form>

            </form>

        </div>
    </div>
</div>

{% if messages %}
<div class="toast" id="toast" role="alert" aria-live="assertive" aria-atomic="true" style="
width:20%;
background-color:#00d8ff;
z-index:2;
padding:10px;
margin:0px;
position:absolute;
left:1079px;
top:77px">
    <div class="toast-header">
        <strong class="mr-auto">Travellify </strong>
        <small class="text-muted" style="position:absolute;
      left:190px;">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" onclick="hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
</div>
{% endif %} {% endblock %}